.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 1199.98px) {
    max-width: 960px;
  }
  @media (max-width: 991.98px) {
    max-width: 720px;
  }
  @media (max-width: 767.98px) {
    max-width: 540px;
  }
  @media (max-width: 575.98px) {
    max-width: none;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.w-100 {
  width: 100%;
}

// Animation tool: https://animista.net/
.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
