// Font
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

// Variables
$font-family: 'Manrope', sans-serif;

$text-gradient: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
$bg-gradient: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

$background: #040C18;
$on-background: #81AFDD;

$surface: #042C54;
$on-surface: #81AFDD;

$accent: #FF4820;
$on-accent: #fff;

$footer: #031B34;
$on-footer: #fff;

$h1-size: 3.375rem;
$h2-size: 2.25rem;
$h3-size: 1.5rem;
    
// RFS
$rfs-factor: 10;