@import '../styles/variables';
@import "~rfs/scss";
@import '../styles/mixins';
@import '../styles/functions';

.about {
  @include margin-bottom(8rem);
  &__introduction {
    display: flex;
    justify-content: space-between;
    @include margin-bottom(5rem);
    @media (max-width: 767.98px) {
      flex-direction: column;
    }
    position: relative;
    z-index: 1;
  }
  &__surface {
    border-radius: .3rem;
    background: $surface;
    @include padding(3rem);
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      background: $surface-radial-gradient-top-left;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 300px;
      height: 300px;
      background: $surface-radial-gradient-bottom-right;
    }
  }
  &__title {
    @include margin-right(2rem);
    @include text-gradient($text-gradient);
    @include font-size($h2-size);
    line-height: 1.3;
  }
  &__link {
    @include text-button(color-contrast($surface));
    svg {
      vertical-align: middle;
    }
    align-self: flex-start;
    @media (max-width: 767.98px) {
      margin-top: .5rem;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    .feature {
      @include padding-right(2rem);
      &__title {
        color: color-contrast($surface);
      }
      &__text {
        color: $on-surface;
      }
    }
    @media (max-width: 767.98px) {
      flex-direction: column;
      .feature {
        &:not(:last-child) {
          @include margin-bottom(4rem);
        }
        padding-right: 0;
      }
    }
  }
}