@import '../styles/variables';
@import '../styles/mixins';
@import '../styles/functions';
@import "~rfs/scss";

.cta {
  @include margin-bottom(8rem);
  &__surface {
    align-items: center;
    justify-content: space-between;
    background: $text-gradient;
    border-radius: .3rem;
    display: flex;
    @include padding(2rem 3rem);
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }
  &__title {
    @include font-size($h3-size);
    line-height: 1.3;
    color: $on-text-gradient;
    @media (max-width: 991.98px) {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  &__button {
    @include filled-button($on-text-gradient);
  }
}