@import '../styles/variables';
@import '../styles/mixins';

.header {
  padding-top: 1rem;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__brand {
    display: inline-block;
    margin-right: 1rem;
    img {
      vertical-align: middle;
      display: inline-block;
      width: 48px;
    }
  }
  &__inline-menu {
    ul {
      display: flex;
      padding-left: 0;
      list-style: none;
      li {
        a {
          display: inline-block;
          white-space: nowrap;
          padding: .5rem;
          color: color-contrast($background);
          opacity: 0.75;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    @media (max-width: 767.98px) {
      display: none;
    }
  }
  &__right {
    position: relative;
    display: flex;
  }
  &__dropdown-menu {
    z-index: 1;
    position: absolute;
    top: 54px;
    right: 0;
    ul {
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
      margin: 0;
      background-color: $surface;
      padding: 1rem;
      list-style: none;
      text-align: right;
      li {
        display: list-item;
        white-space: nowrap;
        a {
          display: block;
          padding: .5rem;
        }
      }
      button {
        margin: .5rem 0;
      }
    }
  }
  &__signin {
    margin-right: .5rem;
    
    @include filled-button(transparent, color-contrast($background));
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }

    &_dropdown {
      display: none;
      width: 100%;
      @media (max-width: 575.98px) {
        display: block !important;
      }
    }
    @media (max-width: 575.98px) {
      display: none;
    }
  }
  &__signup {
    @include filled-button($accent, $on-accent);
    &_dropdown {
      display: none;
      width: 100%;
      @media (max-width: 575.98px) {
        display: block !important;
      }
    }
    @media (max-width: 575.98px) {
      display: none;
    }
  }
  &__toggler-wrapper {
    display: none;
    @media (max-width: 767.98px) {
      display: block;
    }
  }
  &__toggler {
    margin-left: 1rem;
    width: 44px;
    height: 44px;
    @include filled-button(transparent, #fff);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}