@import './styles/variables';

.app {
  position: relative;
  overflow-x: hidden;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vw;
    min-height: 600px;
    min-width: 600px;
    background: $bg-radial-gradient-top-left;
    z-index: -1;
  }
}