@import '~modern-normalize/modern-normalize.css';
@import './styles/variables';
@import './styles/utilities';

// Globals
body {
  background-color: $background;
  color: $on-background;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: unset;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  &:focus {
    outline: 2px solid rgba(0,125,250,0.6);
  }
}

h1, h2, h3 {
  margin: 0;
}

p {
  line-height: 1.5;
  margin: 0;
}

button, input {
  &:focus {
    outline: 2px solid rgba(0,125,250,0.6);
  }
}